{% extends "HeaderFooter/base.html"%}
{% load static %}
{% block content%}
<link rel="stylesheet" href="{% static 'css/estiloRegistro.css' %}">

<div class="container">
    <div class="row d-flex mt-5 justify-content-center">
        <div class="col-8 mt-5">
            <div class="card">
                <div class="shadow">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row d-flex mt-4 justify-content-center">
                            <div class="col-8">
                                <h3 class="titulo text-center mb-4">Restablecer contraseña</h3>
                                <div class="alert alert-dark" role="alert">
                                    ¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva.
                                  </div>

                                <div class="form-floating mb-3">
                                   <input type="{{form.email.html_name}}" name="{{form.email.html_name}}" class="form-control"
                                       id="floatingInput" required placeholder="{{form.email.html_name}}">
                                   <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
                               </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-6 mb-4">
                                <button type="submit"  class="btn botonEnviar mt-4" style="width: 100%;"> Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}