{% load humanize %}
{% load static %}

<div class="shadow" role="alert">
    <table class="table carro table-borderless table-hover">
        <thead>
            <tr>
                <th scope="col">Plato</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody class="elementos">
            {% if request.session.carrito.items %}
            {% for key ,value in request.session.carrito.items %}
            <tr>
                <td>{{value.nombre | title}}</td>    
                <td>${{value.valorunitario | intcomma}}</td>
                <td class="agregar-restar">
                    <a href="{% url 'restar_producto' value.idplatillo %}" class="badge btn btn-outline-danger">-</a>
                    {{ value.cantidad}}
                   
                    <a href="{% url 'agregarProducto' value.idplatillo %}" class="badge btn btn-outline-danger">+</a>                
                </td>
                
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center"> Sin Productos</div>
                </td>
            </tr>
            {% endif %}
            <tr class="total">
                <th scope="row" colspan="3" class="text-center pt-5"> Subtotal: ${{total_carrito | intcomma}}</th>
            </tr>
        </tbody>
    </table>
    <div class="row text-center botones-carro">
        
        <div class="col-6"> <a href="{% url 'limpiar_carrito' %}" class="btn btn-danger"><img src="{% static 'img/icons8-cesta-de-compra-eliminar-24.png' %}" alt=""> Limpiar</a></div>
        <div class="col-6"> <a href="{% url 'FinalizarCompra' %}" class="btn btn-success"> <img src="{% static 'img/icons8-comprar-24.png' %}" alt="">Finalizar Pedido</a></div>       
    </div>
</div>