{% extends "HeaderFooter/base.html"%} 
{% load static %}
{% block titulo %}
Catálogo
{% endblock %}
{% block content%}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/estiloPlatillos.css' %}">
    
    <title>Document</title>
</head>
<body>
    {% load humanize %}

    
    <div class="container-fluid " >
        <div class="row container-cards mb-1">   
            <div class="container">
                <form action="platilloRut" method="POST">
                    {% csrf_token %}
                    <div class="d-flex gap-1 mt-5 justify-content-center">
                        {% for r in restaurantes %}  
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                          <button name="Restaurante" type="submit" value="{{r.0}}" class="btn btn-outline-primary"> <img src="{% static 'img/restaurante-catalogo.png' %}" alt=""> {{r.1 | title}}</button>
                          </div>
                        {% endfor %}
                    </div>    
                </form>
            </div>
                   
            <div class="col-sm-12  col-lg-8 d-flex flex-wrap  mt-5 mr-5" style="background-color: #fff; margin-right: 25px;">
                {% for p in platillos %}
                <div class="col-lg-4 col-sm-12 mb-3" style="padding: 1rem 1rem; align-items: center;">
                    <div>
                    <img src="data:imagen/png;base64, {{ p.imagen }} " alt="" class="card-img-top w-100 "
                        style=" max-height:200px; box-shadow: 10px 10px 20px -8px rgb(0 0 0 / 30%); " style=" max-height: 150px;">
                    </div>
                    <div class="card-body card-body-main">
                    <h5 class="card-title tittle-card">{{ p.data.1 | title }}</h5>
                    <span class="span-home" style=" margin-top: 10px;"> {{ p.data.2 | title }} </span>
                    <span class="span-home" style=" margin-top: 8px; color: #c4c4c4;"> <img src="{% static 'img/restaurante.png' %}" alt=""> {{ p.data.5 | title }} </span>
                    <span class="span-home platillo__precio"
                        style="text-align: center; margin-top: 10px; color: #9c3534; font-size: 22px;"> ${{ p.data.3 | intcomma }}
                    </span>
                    <a href="{% url 'agregarProducto' p.data.0 %} " class="btn btn-danger botonComprar"
                        style="width: 100%; margin-top: 5px; font-size: 18px;"><img
                        src="{% static 'img/icons8-agregar-a-carrito-de-compras-24.png' %}" alt=""> Agregar al Carro</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-3 d-none d-lg-block ">
                <div class="mt-5 colum-detalle-pedido">
                    {% if user.is_authenticated %}
                    <div class="card p-4">
                        Tu Carrito <hr>                    
                        {% include "carroOff.html" %}
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock%}