{% extends "HeaderFooter/base.html"%}
{% load static%}


{% block L-izquierda %}
<a href="/">Inicio</a>
<a href="quienesSomos">Sobre nosotros</a>
{% endblock%}


{% block L-derecha %}
<a href="#">Catálogo</a>
<a href="/login">Iniciar sesión</a>
{% endblock%}

{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/estiloIndex.css'%}">
    <title>El Comilón</title>
</head>

<body>
    <div clas="container carta" style="width: 90%; margin: auto;">
        <div class="row">
            {% for p in platillos %}
            <div class="col-lg-4 col-md-6 item-carta mt-5" style="text-align: center; padding: 0;">
                {% if p.imagen %}
                <img src="data:imagen/png;base64, {{ p.imagen }}" alt="" class="img-carta">
                {% endif %}
                <p>{{ p.data.1 }}</p>
                <div class="container-fluid small-border"></div>
                <p>{{ p.data.2 }}</p>
                <p>${{ p.data.3 }}</p>
                <div class="container btn-comprar">
                        <button class="btn botonComprar" type="submit">Comprar</button>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
        </script>
</body>

</html>
{%endblock%}