{% extends "HeaderFooter/base-sidebar.html"%}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style-lista.css' %}">

    <title>trabajador</title>
    <script>
        function eliminarTrabajador(id) {
            Swal.fire({
                "title": "¿Estás Seguro?",
                "text": "Esta acción no se puede deshacer",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, Eliminar",
                "confirmButtonColor": "#9C3534"
            }).then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "eliminarTrabajador/"+id
                }
            })
        }
    </script>
</head>

<body>
    <section class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow-lg p3 mb-5 mt-5 bg-white">
                    <h3 class="titulo text-center mt-5 mb-5">Lista Trabajadores</h3>
                    <div class="card-body">
                        <div class="container">
                            <form action="trabajadorRut" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-8 col-md-8">
                                        <input type="text" class="input_rut" placeholder="Buscar por Rut"
                                            name="trabajadorRut" id="trabajadorRut">
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <button class="btn botonEnviar" type="submit">Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="table-responsive-md">
                            <table class="table  table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Rut</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Fecha Contrato</th>
                                        <th scope="col">Cargo</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for t in trabajadores %}
                                    <tr>
                                        <th scope="row" id="rutTrabajador" value="{{ t.0 }}">{{ t.0 }}</th>
                                        <td>{{ t.1 }}</td>
                                        <td>{{ t.2 | title }}</td>
                                        <td>{{ t.3 | title }}</td>
                                        <td>{{ t.5 | title }}</td>                                        
                                        <td>
                                            <a href="{% url 'actualizarTrabajador' t.0 %}"><i class="fas fa-user-edit"
                                                    style="color:#02B37F; cursor: pointer;"></i></a>

                                            <a onClick="eliminarTrabajador('{{t.0}}')"  href="#"><i
                                                    class="fas fa-trash-alt" style="color: brown; cursor: pointer;">
                                                </i> </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'app/validacion.js' %}"></script>
</body>

</html>
{% endblock %}