{% extends "HeaderFooter/base-sidebar.html"%}

{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style-trabajador.css' %}">
    <title>trabajador</title>
</head>

<body>
    <section class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow-lg p3 mb-5 mt-5 bg-white">
                    <h3 class="titulo text-center">Registrar un trabajador</h3>
                    <div class="card-body">
                        <form action="" id="post-form" class="d-flex flex-column  justify-content-center" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6  p-4">
                                    {% include "HeaderFooter/formularioRegistro.html"%}
                                </div>
                                <div class="col-lg-6  p-4 mt-4">
                                    <div class="form-row">
                                        <div class="row">
                                            <div class="row">
                                                <div class="col mb-4">
                                                    <div class="form-floating">
                                                        {%if campos.0 %}
                                                        <input type="text" name="rutTrabajador" oninput="checkRut(this)"
                                                        class="form-control input_rut" id="txt-rut" maxlength="10"
                                                        placeholder="14.442.987-2" value="{{campos.0}}" required>
                                                        {%else%}
                                                        <input type="text" name="rutTrabajador" oninput="checkRut(this)"
                                                        class="form-control input_rut" id="txt-rut" maxlength="10"
                                                        placeholder="14.442.987-2" required>
                                                        {%endif%}
                                                        <label for="">Rut Trabajador</label>
                                                        <small id="Msg" class="text-danger fs-6 mt-1">{{mensajeRut}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col mb-4">
                                                    <div class="form-floating">      
                                                        {%if campos.1 %}
                                                        <input type="text" name="nombres" class="form-control" id="nombres"
                                                            placeholder="Nombres" value="{{campos.1}}" required>
                                                        {%else%}
                                                        <input type="text" name="nombres" class="form-control" id="nombres"
                                                        placeholder="Nombres" required>
                                                        {%endif%}        
                                                        <label for="">Nombres</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="row">
                                                <div class="col mb-4">
                                                    <div class="form-floating">
                                                        {%if campos.2 %}
                                                        <input type="text" name="apellidos" class="form-control"
                                                        id="apellidos" placeholder="Apellidos" value="{{campos.2}}" required>
                                                        {%else%}
                                                        <input type="text" name="apellidos" class="form-control"
                                                        id="apellidos" placeholder="Apellidos" required>
                                                        {%endif%}

                                                        <label for="">Apellidos</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col mb-4">
                                                    <div class="form-floating">
                                                        {%if campos.3 %}
                                                        <input type="date" name="fecha" class="form-control"
                                                        id="fechaActual" value="{{campos.3}}" required>
                                                        {%else%}
                                                        <input type="date" name="fecha" class="form-control"
                                                        id="fechaActual" required>
                                                        {%endif%}
                                                        <label for="">Fecha de Contrato</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="row d-flex justify-content-center">
                                                <div class="col mb-4 ">
                                                    <div class="form-floating">
                                                        <select name="cargo" id="" class="form-select">
                                                            <option disabled>Cargo</option>
                                                            {% for c in cargo %}
                                                            <option value="{{c.0}}">{{c.1}}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <label for="">Cargo</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="pieForm">
                                    <button class="btn botonEnviar" type="submit">Registrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        $('#post-form').on('submit', function (event) {
            event.preventDefault();
            let inputrut = document.getElementById('txt-rut')
            let rut = document.getElementById('txt-rut').value;
            let txtHtml = document.getElementById('txt-invalid');
            let formPost = document.getElementById('post-form')
            var formData = new FormData(document.getElementById('post-form'));
            formData.append('rut', rut);
            if (rut && document.getElementById('post-form').checkValidity()) {
                document.getElementById('post-form')
                fetch('{% url "cleanruttrabajador" %}', {
                    method: 'POST',
                    mode: 'same-origin',
                    cache: 'no-cache',
                    body: formData,
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                }).then(response => response.json())
                    .then(data => {
                        console.log(data)
                        if (data.valid) {
                            console.log("Usuario registrado con exito")
                            fetch('{% url "trabajador" %}'), {
                                method: 'POST',
                                mode: 'same-origin',
                                cache: 'no-cache',
                                body: formData,
                                headers: {
                                    'X-CSRFToken': getCookie('csrftoken'),
                                },
                            }
                      
                            formPost.submit();
                            return
                        } else {
                            document.getElementById("Msg").innerHTML ="Ya existe un trabajador con este rut";
                        }
                    });
            } else {
                console.log("Llene todos los campos")
                event.preventDefault();
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="{% static 'app/fecha.js' %}"></script> 
</body>

</html>
{% endblock %}