.botonEnviar{
    align-items:center;
    background-color:#9C3534;
    color:#fff;
    padding:.7rem;
    width:45%;
}
.botonEnviar:hover{
    background-color:#fff;
    color:#9C3534;
    border:1px solid #9C3534;
}
.titulo{
    color:#9C3534;
}

input{
    padding: .6rem;
    border-radius: 7px;
    border-color: rgb(red, green, blue, 0.98%);
    width: 50%;
}

.form-icon{
    white-space: nowrap;
    width: max-content;
    margin: 0 !important;
    padding: 0 !important;
}

.td-btn{
    margin: 0;
}

.pieForm{
    align-items: center;
    text-align: center;
    align-content: center;
}

.a-volver{
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    color: rgb(192, 72, 72);
}

.a-volver:hover{
    color: darkred;
}