{% extends "HeaderFooter/base.html"%}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
{% load humanize %}
<div class="container bg-white shadow-lg mt-5">
    <div class="row">
        <div class="col m-2">
            <h1 class="text-center titulo mb-5">Mi Cuenta</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link text-danger " aria-current="page" href="{% url 'perfilRepartidor' user.id %}">Mis Datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  active" href="{% url 'MiVehiculo' user.id %}">Vehículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-danger  btn btn-primary position-relative" href="{% url 'repartidor' %}">Lista de Pedidos ss
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                           {{TotalPedidos}}
                            <span class="visually-hidden">unread messages</span>
                          </span>
                      </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-10">
                <form method="POST" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form">
                        <div class="col-lg-6 col-sm-12">
                            {{form|crispy}}
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4 mb-3">
                        <input type="submit" class="btn btn-danger mt-3" value="Modificar">
                    </div>
                </form>
            </div>
        </div>
        </form>
    </div>
</div>
</div>
{% endblock%}