{% extends "HeaderFooter/base.html"%}
{% load static %}
{% block titulo %}
Repartos
{% endblock %}
{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style-view-reparto.css' %}">
    
    <title>Document</title>
</head> 

<body>
    <section class="container contenido-reparto">
        <div class="container bg-white shadow-lg mt-5">
            <div class="row">
              <div class="col m-2">
                <h1 class="text-center titulo mb-5 titulo">Repartos</h1>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link text-danger" aria-current="page" href="{% url 'perfilRepartidor' user.id %}">Mis Datos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{% url 'MiVehiculo' user.id %}">Vehículo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active  btn btn-primary position-relative" href="{% url 'repartidor' %}">Lista de Pedidos
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                               {{TotalPedidos}}
                                <span class="visually-hidden">unread messages</span>
                              </span>
                          </a>
                    </li>
                </ul>
              </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-lg-12">
                        <div class=" p3 mb-5 mt-5 bg-white">
                   
                                <div class="table-responsive-md">
                                    <table class="table table-borderless table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">Dirección</th>
                                                <th scope="col">Estado</th>
                                                <th scope="col">Ver</th>
                                            </tr>
                                        </thead>
                                            {% for r in repartos %}
                                            <tr>
                                                <td>{{r.2|date:'d-m-y'}}</td>
                                                <td>{{ r.3 }}</td>
                                                <td>{{ r.5 }}</td>
                                                <td><a href="viewPedido/{{r.0}}" ><img src="{% static 'img/visible.png' %}" alt="ojito"></a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
            </div>
          </div>
    </section>
</body>
</html>
{% endblock %}
