{% extends "HeaderFooter/base.html"%}
{% load static %}

{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style-view-reparto.css' %}">
    <script>
        function modificarEstado(id) {
          Swal.fire({
            "title": "¿Desea Finalizar El Pedido?",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "No, Cancelar",
            "confirmButtonText": "Si, Finalizar",
            "confirmButtonColor": "#9C3534"
          }).then(function (result) {
            if (result.isConfirmed) {
              let timerInterval
              Swal.fire({
                title: 'Finalizando Pedido',
                html: 'Por Favor Espere...',
                timer: 1000,
                timerProgressBar: true,
                didOpen: () => {
                  Swal.showLoading()
                  const b = Swal.getHtmlContainer().querySelector('b')
                  timerInterval = setInterval(() => {
                    b.textContent = Swal.getTimerLeft()
                  }, 100)
                },
                willClose: () => {
                  clearInterval(timerInterval)
                }
              }).then((result) => {
                Swal.fire({
                  position: 'center',
                  icon: 'success',
                  title: 'Pedido Finalizado',
                  showConfirmButton: false,
                  timer: 1000
                })
                setTimeout(() => {
                  if (result.dismiss === Swal.DismissReason.timer) {
                    window.location.href = "/FinalizarRepartidor/" + id
                  }
                }, 1000);
              })
      
            }
          })
        }
      </script>
    <title>Document</title>
</head> 

<body>
    <section class="container">
        <div class=" tarjeta-general shadow bg-body rounded" style="width: 24rem;">
            <img src="{% static 'img/ruta.jpg' %}" class="card-img-top" alt="...">
            <div class="contenido-carta">
                <form class="contenedor-tarjeta" action="" method="POST">
                    {% csrf_token %}
                    <h4 class="card-title">PEDIDO N° {{ pedidoSelect.idpedido }}</h4>
                    <p class="card-text">
                    <div>
                        <label for=""><span>Rut Cliente:</span></label>
                        <label for="" id="rutPedido" name="rutPedido">{{ pedidoSelect.rutcliente }}</label>
                    </div>
            
                    <div>
                        <label for=""><span>Fecha:</span></label>
                        <label for="">{{ pedidoSelect.fechapedido }}</label>
                    </div>
            
                    <div>
                        <label for=""><span>Dirección:</span></label>
                        <label for="">{{ pedidoSelect.direccionpedido }}</label>
                    </div>
                    <div>
                        <label for=""><span>Total: $</span></label>
                        <label for="">{{ pedidoSelect.valortotal }}</label>
                    </div>
                    </p>
                    <a href="#" class="btn botonEnviar" onclick="modificarEstado('{{pedidoSelect.idpedido}}')">Finalizar Entrega</a>
                    
                    {{mensaje}}
                </form>
            </div>
        </div>
    </section>
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>
{% endblock %}
<!--  -->