*{
    font-family: 'Roboto', sans-serif;
}
.colum-detalle-pedido{
    margin-bottom: 85px;
    position: sticky;
    top: 15px;
}
.div-detalle-pedido{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    height: 50vh;
    padding: 20px;
}
.section-title {
    color: #555454;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
}
.style-section-tittle{
    color: inherit;
    flex-shrink: 1;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
.btn-cantidad{
    border: 1px solid #3fae7f;
    border-radius: 50%;
    color: #128d59;
    height: 27px;
    line-height: 25px;
    -webkit-transition: box-shadow .29s cubic-bezier(.79,.01,.375,.995);
    transition: box-shadow .29s cubic-bezier(.79,.01,.375,.995);
    width: 28px;

}

body{
    background-color: #F7F8F9;
    box-sizing: border-box;
}

a:hover{
    color: #c4c4c4;
}
.container{
    max-width: 1740px;
}

.platillo{
    padding: 2rem 2rem 0 2rem;
}

.platillo__imagen{
    width: 100%;
    height: 200px;
}

.platillo__nombre:first-letter{
    text-transform:capitalize;
        
}

.platillo__descripcion{
    color: rgb(104, 104, 104);
    margin-top: .5rem;
    margin-bottom: 0;
}

.platillo__descripcion::first-letter{
    text-transform:capitalize;
}

.platillo__precio{
    color:#9c3534;
    font-size: 20px;
    font-weight: bold;
}

.precio-boton{
    margin-top: 1rem;
    gap: 1rem;
}

.btn-danger{
    background-color: #9c3534;  
    border: none;
}

.btn-outline-danger{
    background-color: #ffffff; 
    border: 1px solid #9c3534;
    color: #9c3534;
    border-radius: 50%;
    display: inline-block;
}
    
.btn-outline-danger:hover{
    background-color: #9c3534;
    border: 1px solid #9c3534;
}

.btn-outline-danger-rest{
    display: flex;
}

.card {
    border: none;
}

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    background-color: #ffffff;
    margin-bottom: 2rem;
    border-radius: .4rem;
}

.platillo__boton{
    font-weight: bold;
    font-size: 20px;
    margin-top: .5rem;
    padding: .6rem 1rem;
}

.separacion{
    color: #9c3534;  
    font-weight: bold;
}

.agregar-restar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.total{
    height: 5rem;
    text-align: center;
    padding-top: 2rem;
    color: #9c3534; 
}

.botones-carro{
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.productos{
    display: flex;
    flex-direction: column;
}

.color{
  color:#9c3534;
}
.btn-carro {
    background-color:#9c3534;
    color: #fff;
}

.btn-carro:hover {
    color: #9c3534;
    background-color: #fff;
    border: 1px solid #9c3534 ;
}

