{% extends "HeaderFooter/base.html"%}
{% load static %}
{% block titulo %}
Cambiar Contraseña
{% endblock %}
{% block content %}
<html lang="es">
<link rel="stylesheet" href="{% static 'css/estilocambio.css' %}">
<div class="row">
    <div class="col-12 col-md-6 offset-md-3 mt-4">
        <div class="card mt-5">
            <div class="card-body shadow">
                <h3 class="text-center mb-4">Formulario Para cambiar contraseña</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="password"  name="{{form.old_password.html_name}}" class="form-control" id="{{form.old_password.id_for_label}}" placeholder="{{form.old_password.label}}">
                        <label for="{{form.old_password.id_for_label}}">{{form.old_password.label}}</label>
                        {%if form.errors %} 
                        <small class="sangria fs-6 text-danger">{{form.errors.old_password}}</small>
                        {%endif%}
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password"  name="{{form.new_password1.html_name}}" class="form-control" id="{{form.new_password1.id_for_label}}" placeholder="{{form.new_password1.label}}">
                        <label for="{{form.new_password1.id_for_label}}">{{form.new_password1.label}}</label>
                        {%if form.errors %} 
                        <small class="sangria fs-6 text-danger">{{form.errors.new_password1}}</small>
                        {%endif%}
                        <small class="form-text text-muted sangria">{{form.new_password1.help_text}}</small>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password"  name="{{form.new_password2.html_name}}" class="form-control" id="{{form.new_password2.id_for_label}}" placeholder="{{form.new_password2.label}}">
                        <label for="{{form.new_password2.id_for_label}}">{{form.new_password2.label}}</label>
                        <small class="form-text text-muted sangria">{{form.new_password2.help_text}}</small>
                        {%if form.errors %} 
                        <small class="sangria fs-6 text-danger">{{form.errors.new_password2}}</small>
                        {%endif%}
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button type="submit" class="btn btn-danger">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>
{% endblock %}