{% extends "HeaderFooter/base.html"%}
{% load static %}

{% block content %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/estilocambio.css' %}">

<div class="container bg-white shadow-lg mt-5">
  <div class="row">
    <div class="col m-2">
      <h1 class="text-center titulo mb-5">Reclamo</h1>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link text-danger" aria-current="page" href="#">Mis Datos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="{% url 'historial' user.id %}">Mis pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="{% url 'crearMenu' user.id %}">Menú Semanal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="{% url 'estadoPedido' user.id %} ">Estado de mi pedido</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">{{user.username.title}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled active">Reclamo</a>
          </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row d-flex justify-content-center mt-5">
        <div class="col-10">
            <form action="" method="post">
                <div class="form-floating">
                    <textarea class="form-control area" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comments</label>
                  </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
  