{% extends "HeaderFooter/base.html"%}
{% load static %}
{% block L-izquierda %}
<a href="#">Inicio</a>
<a href="#">Nosotros</a>
{% endblock%}

{% block L-derecha %}
<a href="#">Catálogo</a>
<a href="#">Perfil</a>
{% endblock%}

{% block content %}
{% load humanize %}
<div class="container bg-white shadow-lg mt-5">
    <div class="row">
        <div class="col m-2">
            <h1 class="text-center titulo mb-5">Mis Pedidos</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Valor Total</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Servicio</th>
                        <th scope="col">Saldo</th>
                        <th scope="col">Acción</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                    <tr>
                        <td># {{pedido.idpedido}}</td>
                        <td><strong><span class="text-danger">${{pedido.valortotal | intcomma}}</span></strong></td>
                        <td>{{pedido.fechapedido}}</td>
                        <td>{{pedido.direccionpedido}}</td>
                        <td>{{pedido.idtiposervicio}}</td>
                        <td>{{usuario.saldocli| intcomma}}</td>
                        <td><strong><span class="text-danger">{{pedido.idestpedido}}</span></strong></td>
                        <td> <a href="#"><i class="fas fa-eye"
                                    style="color:#02B37F; cursor: pointer;"></i></a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            {% include 'HeaderFooter/paginator.html'%}
        </div>
    </div>
</div>


{% endblock%}