{% load static %}
<a><img class="iconPerfil" src="{% static 'img/userIcon.png' %}" alt="icono Perfil" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></a>

<section class="container ">
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header canvas-header">
            <!-- <img class="icon" src="{% static 'img/userIconBlack.png' %}" alt=""> -->
            <h3 id="offcanvasRightLabel">MI CUENTA</h3>
            <label for="">$Saldo</label>

            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="nom-user">
                <img class="icon" src="{% static 'img/userIconBlack.png' %}" alt="">
                <h3>No</h3>
            </div>

            <div class="nav-canvas">

                <ul><img class="icon" src="{% static 'img/userIconBlack.png' %}" alt=""><a href="#">Mis datos</a></ul>
                <ul><img class="icon" src="{% static 'img/userIconBlack.png' %}" alt=""><a href="#">Mis pedidos</a></ul>
                <ul><img class="icon" src="{% static 'img/userIconBlack.png' %}" alt=""><a href="#">Mi Menu semanal</a></ul>
            </div>

            <button type="button" class="btn btn-outline-dark w-75 btn-exit">Cerrar Sesión</button>
        </div>
    </div>
</section>