{% extends "HeaderFooter/base.html"%}
{% load static %}
{% block L-izquierda %}
<a href="#">Inicio</a>
<a href="#">Nosotros</a>
{% endblock%}

{% block L-derecha %}
<a href="#">Catálogo</a>
<a href="#">Perfil</a>
{% endblock%}

{% block content %}
{% load humanize %}
<div class="container bg-white shadow-lg mt-5">
    <div class="row">
        <div class="col m-2">
            <h1 class="text-center titulo mb-5">Mi Cuenta</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Mis Datos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'historial' user.id %}">Mis pedidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'crearMenu' user.id %}">Menú Semanal</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">{{user.username.title}}</a>
                </li>
            </ul>
            
            {% include 'HeaderFooter/paginator.html'%}
        </div>
    </div>
</div>


{% endblock%}
{% include 'HeaderFooter/paginator.html'%}
        </div>
    </div>
</div>