.Btn_repartidor{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    padding: 8px 10px;
    background-color: brown;
    color: #ffff;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
.h1-reg-repartidor{
text-align: center;
margin-bottom: 10px;
font-family: roboto;
}
.h1-reg-vehiculo{
text-align: center;
margin-top: 10px;
font-family: roboto;
}
#divinput{
margin-bottom: 15px !important;
}
.combobox-tipovehiculo{
width: 100%;
}