{% extends "HeaderFooter/base-sidebar.html"%}
{% load static %}

{%block js%}
<script>
    function eliminarProveedor(id,id2) {
        Swal.fire({
            "title": "¿Estás Seguro?",
            "text": "Esta acción no se puede deshacer",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "No, Cancelar",
            "confirmButtonText": "Si, Eliminar",
            "confirmButtonColor": "#9C3534"
        }).then(function (result) {
            if (result.isConfirmed) {
                window.location.href = "eliminarProveedor/"+id+"/"+id2
            }
        })
    }
    function eliminarRepresentante(id) {
        Swal.fire({
            "title": "¿Estás Seguro?",
            "text": "Esta acción no se puede deshacer",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "No, Cancelar",
            "confirmButtonText": "Si, Eliminar",
            "confirmButtonColor": "#9C3534"
        }).then(function (result) {
            if (result.isConfirmed) {
                window.location.href = "eliminarRepresentante/"+id
            }
        })
    }
</script>
{%endblock%}
{% block content%}
<link rel="stylesheet" href="{% static 'css/styleListarProveedor.css' %}">
<div class="container bg-white shadow-lg mt-5">
    <div class="row">
        <div class="col m-2">
            <h1 class="text-center titulo mb-5">Lista de proveedores</h1>
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th scope="col">Rut Restaurante</th>
                        <th scope="col">Nombre Restaurante</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Rut Representante</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Acción</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for rest in entity %}
                    <tr>
                        <th scope="row">{{rest.0}}</th>
                        <td>{{rest.1}}</td>
                        <td>{{rest.2}}</td>
                        {%  if rest.4 == 1%}
                            <td>Principal</td>
                            {% else %}
                            <td>Proveedor</td>
                        {%endif%}
                        
                        <td>{{rest.5}}</td>
                        <td>{{rest.6}}</td>
                        <td>{{rest.7}}</td>
                        <td>{{rest.8}}</td>
                        <td> <a href="modificarProveedor/{{rest.0}}/{{rest.5}}"><i class="fas fa-user-edit"
                                    style="color:#02B37F; cursor: pointer;"></i></a>
                            <a href="#" onClick="eliminarProveedor('{{rest.0}}','{{rest.5}}')"><i class="fas fa-trash-alt"
                                    style="color: brown; cursor: pointer;"> </i> </a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            {% include 'HeaderFooter/paginator.html'%}
        </div>
    </div>
</div>
{% endblock %}
