{% extends "HeaderFooter/base-sidebar.html"%}
{% load static %}
{% block content%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'app/jquery.rut.chileno.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/styleListarProveedor.css' %}">
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('.input_rut').rut();
        });
    </script>
</head>


<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow-lg p3 mb-5 mt-5 bg-white">
                    <h3 class="titulo  mt-5 text-center">Modificar Proveedor</h3>
                    <div class="card-body">
                        <form action="" class=" d-flex flex-column  justify-content-center" method="POST" >
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="row mt-2">
                                    <div class="col-lg-6 mb-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="rutRestaurante"
                                                value="{{seleccion.rutrestaurante}}" class="form-control input_rut"
                                                id="Rut" required readonly>
                                            <label for="rut">Rut Restaurante</label>
                                            
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="nombre" class="form-control" id="nombre"
                                                minlength="2" value="{{seleccion.nombrerestaurante}}" required>
                                            <label for="nombre">Nombre Restaurante</label>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" name="direccion" class="form-control" id="direccion"
                                                minlength="2" value="{{seleccion.direccionrestaurante}}" required>
                                            <label for="direccion">Dirección</label>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <h4 class="titulo text-center mb-5">Modificar Representante</h4>
                                    <div class="col-lg-6 mb-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="representante" class="form-control input_rut"
                                                id="Rut" value="{{representante.rutrepresentante}}" required readonly>
                                            <label for="Rut">Rut Representante</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="nombresRepresentante" class="form-control"
                                                minlength="2" id="nombresRepresentante"
                                                value="{{representante.nombres}}" required>
                                            <label for="nombresRepresentante">Nombre Representante</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 mb-4">
                                        <div class="form-floating mb-3">
                                            <input type="tel" name="telefono" class="form-control" id="teléfono"
                                                value="{{representante.telefono}}" pattern="[0-9]{9}" required>
                                            <label for="teléfono">Telefóno</label> 
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="apellidos" class="form-control" minlength="2"
                                                id="apellidos" value="{{representante.apellidos}}" required>
                                            <label for="apellidos">Apellidos</label>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="pieForm">
                                    <div class="row">                                       
                                        <button class="btn botonEnviar" id="btn1" type="submit">Modificar</button>                                      
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <script src="{% static 'app/validacion.js' %}"></script>
</body>
{%endblock%}