.btn-primary{
    padding: 6px 8px;
    width: 60%;
    font-size: 20px;
    background:#9c3534;
    color: #F7F8F9;
    margin-bottom: 0.8rem;
}

.btn-primary:hover{
    background: white;
    color: #9c3534;
    border: 1px solid #9c3534;
}

.LOQUESEA{
    background: #9c3534;
}