{% extends "HeaderFooter/base.html"%}
{% load static %}
{% block content%}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'css/estiloRegistro.css' %}">
<div class="container ">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 mt-5 ">
            <div class="card shadow mt-5">
                <div class="card-body">
                    <h3 class="text-center mt-3 mb-3 titulo">Iniciar Sesión</h3>
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-floating mb-3">
                            <input type="{{field.html_name}}" name="{{field.html_name}}" class="form-control"
                                id="floatingInput" required placeholder="{{field.html_name}}">
                            <label for="{{field.id_for_label}}">{{field.label}}</label>
                            <div class="valid-feedback"> </div>
                            <div class="invalid-feedback">Campo obligatorio*</div>
                        </div>
                        {% endfor %}
                        {% if form.errors%}
                        <div class="alert alert-danger" role="alert">
                            <small class="sangria fs-6">{{form.non_field_errors}}</small>
                          </div>
                        {%endif%}
                        <div class="d-flex justify-content-center mb-3">
                            <input type="submit" class="btn botonEnviar mt-4" value="Iniciar Sesión">
                        </div>
                        <div class="row">
                            <p class="text-center">¿No tienes cuenta?<a href="{% url 'registro' %}"> Regístrate Aquí</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}