{% extends "HeaderFooter/base.html"%} 
{% load static %}

{% block content%}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'css/estiloRegistro.css' %}">
<div class="container ">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 mt-5 ">
            <div class="card shadow mt-5">
                <div class="card-body">
                    <h3 class="text-center mt-3 mb-3 titulo">Iniciar Sesión</h3>
                    <form method="post"  class="needs-validation" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-floating mb-3">
                          <input type="{{field.html_name}}"  name="{{field.html_name}}" class="form-control" id="floatingInput" placeholder="{{field.html_name}}">
                          <label for="{{field.id_for_label}}">{{field.label}}</label>
                        </div>
                        {% endfor %}
                        <div class="d-flex justify-content-center mb-3">
                            <input type="submit" class="btn botonEnviar mt-4"  value="Iniciar Sesión">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'app/validacion.js' %}"></script>
{%endblock%}

