{% extends "HeaderFooter/base.html"%}
{% load static %}

{% block content%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estiloRegistro.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Registro de usuario</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-md-12 ">
                <div class="card shadow">
                    <h3 class="text-center mt-3 titulo">Registro de usuario</h3>
                    <div class="card-body">
                        <form  name="form1" onsubmit="javascript:return Rut(document.form1.rut.value)" method="POST">
                            {% csrf_token %} 
                            <div class=" form">
                                <div class="row d-flex justify-content-center sangria">
                                    <div class="row mt-3 p-0">
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                {%if form.email.value%}
                                                <input type="email" name="email" class="form-control"
                                                    id="{{form.email.id_for_label}}" placeholder=" "
                                                    value="{{form.email.value}}" required>
                                                <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
                                                {%else%}
                                                <input type="email" name="email" class="form-control"
                                                    id="{{form.email.id_for_label}}" placeholder=" " required>
                                                <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
                                                {%endif%}
                                                {% if form.errors%}
                                                <small class="text-danger">{{form.email.errors}}</small>
                                                {%endif%}
                                            </div>
                                            <div class="form-floating mb-3">
                                                {%if form.username.value%}
                                                <input type="text" id="{{form.username.id_for_label}}"
                                                    name="{{form.username.html_name}}" class="form-control"
                                                    id="floatingInput" placeholder=" " autocomplete="off"
                                                    value="{{form.username.value}}">
                                                <label
                                                    for="{{form.username.id_for_label}}">{{form.username.label}}</label>
                                                {%else%}
                                                <input type="text" id="{{form.username.id_for_label}}"
                                                    name="{{form.username.html_name}}" class="form-control"
                                                    id="floatingInput" placeholder=" " autocomplete="off">
                                                <label
                                                    for="{{form.username.id_for_label}}">{{form.username.label}}</label>
                                                {%endif%}
                                                {% if form.errors%}
                                                <small id="usernaeError"
                                                    class="sangria fs-6 text-danger">{{form.username.errors}}</small>
                                                {%endif%}
                                            </div>
                                            <div class="form-floating mb-3">
                                                {%if form.password1.value%}
                                                <input type="password" name="{{form.password1.html_name}}"
                                                    id="id_password1" class="form-control" placeholder=" "
                                                    autocomplete="off" value="{{form.password1.value}}">
                                                <label
                                                    for="{{form.password1.id_for_label}}">{{form.password1.label}}</label>
                                                <small class="form-text text-muted">{{form.password1.help_text}}</small>
                                                {%else%}
                                                <input type="password" name="{{form.password1.html_name}}"
                                                    id="id_password1" class="form-control" placeholder=" "
                                                    autocomplete="off">
                                                <label
                                                    for="{{form.password1.id_for_label}}">{{form.password1.label}}</label>
                                                <small class="form-text text-muted">{{form.password1.help_text}}</small>
                                                {%endif%}

                                            </div>
                                            <div class="form-floating mb-3">
                                                {%if form.password2.value%}
                                                <input type="password" name="{{form.password2.html_name}}"
                                                    id="id_password2" class="form-control" placeholder=" "
                                                    value="{{form.password2.value}}">
                                                <label
                                                    for="{{form.password2.id_for_label}}">{{form.password2.label}}</label>
                                                {%else%}
                                                <input type="password" name="{{form.password2.html_name}}"
                                                    id="id_password2" class="form-control" placeholder=" "
                                                    autocomplete="off">
                                                <label
                                                    for="{{form.password2.id_for_label}}">{{form.password2.label}}</label>
                                                <small class="form-text text-muted">{{form.password2.help_text}}</small>
                                                {%endif%}
                                                {% if form.errors%}
                                                <small class="text-danger">{{form.password2.errors}}</small>
                                                {%endif%}
                                            </div>
                                            <div class="form-floating mb-3">
                                                {%if rut %}
                                                <input type="text"
                                                    class="form-control  shadow-sm  bg-body rounded input_rut"
                                                     name="rut"
                                                    placeholder="19.455.087-3" maxlength="12" value="{{rut}}" required>
                                                <label for="Rut">Rut</label>
                                                {%else%}
                                                <input type="text"
                                                    class="form-control  shadow-sm  bg-body rounded input_rut"
                                                      name="rut"
                                                    placeholder="19.455.087-3" maxlength="12" required>
                                                <label for="Rut">Rut</label>
                                                {%endif%}
                                                <small  id="Msg" class="text-danger fs-6">{{mensaje}}</small><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="envio d-flex flex-column justify-content-center mt-3">
                                <div class="text-center">
                                    <input type="checkbox" id="checkBox"   required <p> Estoy de acuerdo con <a href=""
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">Terminos y
                                        condiciones.</a></p>
                                    <div class="valid-feedback"> </div>
                                    <div class="invalid-feedback">Debe estar de acuerdo con los Terminos y
                                        Condidiciones*</div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Terminos y
                                                        condiciones</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed
                                                    voluptate, unde delectus fuga magnam
                                                    quibusdam quaerat,
                                                    laborum laudantium ea vitae nulla voluptas quas consectetur aliquam
                                                    ullam repellat dolorem enim
                                                    tenetur.
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                                                    placeat omnis, ab quidem repellat
                                                    nisi. Qui ex provident
                                                    sunt veritatis voluptas culpa quos consequatur vero natus
                                                    consequuntur aperiam, repellendus
                                                    accusamus.

                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed
                                                    voluptate, unde delectus fuga magnam
                                                    quibusdam quaerat,
                                                    laborum laudantium ea vitae nulla voluptas quas consectetur aliquam
                                                    ullam repellat dolorem enim
                                                    tenetur.
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                                                    placeat omnis, ab quidem repellat
                                                    nisi. Qui ex provident
                                                    sunt veritatis voluptas culpa quos consequatur vero natus
                                                    consequuntur aperiam, repellendus
                                                    accusamus.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-primary"
                                                        data-bs-dismiss="modal"
                                                        onclick="aceptarTerminos()">Aceptar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="d-flex justify-content-center">
                                    <input type="submit" class="btn botonEnviar mt-3" value="Registrar">
                                </div>
                            </div>
                            <p class="mt-2 text-center"><a href="accounts/login/">¿Ya tienes cuenta?</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'app/acepta-terminos.js' %}"></script>
</body>

</html>
{%endblock%}