/*General*/
*{
    font-family: 'Roboto', sans-serif;  
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: #F7F8F9;
}

h1 {
    color: #9c3534;
    font-size: 2.6rem;
    font-weight:bold;
}
h2 {
    color: #9c3534;
    font-size: 2.4rem;
    font-weight:bold;
}

label{
    font-size: 1.6rem;
}

/*Id de pedido, fecha y estado*/

.num-pedido{
    margin: 4rem 0;
    text-align: center;
}

.fecha-estado{
    text-align: center;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
}


.fecha-estado .estado{
    font-weight: bold;
    color: #9c3534;
    text-transform:capitalize;
}

/*Detalles del pedido*/
.cuadrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 8rem;
    max-width: 90%;
}

.container-precios{
    background-color: #c4c4c448;
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    height: 50rem;
    width: 90%;
}
.campos{
    width: 90%;
}

.platillo{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted #c4c4c4;
}

.multiplicador-platillo{
    font-weight: bold;
    margin-left:.8rem;
}

.puntos-separacion{
    color: #c4c4c4;
    margin: 0 2rem;
}
.separaciones{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/*Tipo de entrega*/
.tipo-entrega{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 6rem;
    margin-top: 4rem;
    width: 90%;
}
.entrega-bold{
    font-weight: bold;
}

/*Datos del cliente*/
.datos-cliente{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .8rem;
    width: 90%;
}   

.datos-cliente p{
    font-size: 1.6rem;
    margin: 0;
}

.totales{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted #c4c4c4;
}

.separaciones-totales{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.separacion{
    margin: 1rem 1rem;
}

.small-border {
    height: 3px;
    width: 80px;
    margin: 15px 0;
    background: #9C3534;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .container-precios{
        width: 100%;
    }
    .campos{
        width: 100%;
    }
    .cuadrado{
        max-width: 100%;
        margin: 5 0;
    }
    .tipo-entrega{
        display: block;
        text-align: center;
        padding: 0;
        width: 100%;
    }
    .datos-cliente{
        text-align: center;
        display: flex;
        flex: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .8rem;
        width: 100%;
    }   
}

@media (max-width: 320px) {
    .datos-cliente p{
        font-size:20px;
    }
}

