{% extends "HeaderFooter/base.html"%}
{% load static %}
{% block content %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/style-recepcionista-view.css' %}">
<link rel="stylesheet" href="{% static 'css/estiloListar.css' %}">
<div class="container bg-white shadow-lg mt-5">
    <div class="row">
        <div class="col m-2">
            <h1 class=" text-center mt-4  mb-3" style="color: brown;">Lista Platillos de {{restaurante.nombrerestaurante | title}}</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link text-danger" aria-current="page" href="{% url 'menuProveedor' user.id %}">Mis
                        Datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" aria-current="page" href="{% url 'SubirMisPlatillos'%}">Subir
                        Platillos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  active" aria-current="page" href="{% url 'listarPlatilloProveedor'%}">Listar
                        Platillos</a>
                </li>
                <li>
                    <a class="nav-link text-danger position-relative"  href="{% url 'PlatillosPendientes'%}">Platillos Pendientes
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                           {{TotalPedidos}}
                            <span class="visually-hidden">unread messages</span>
                          </span>
                      </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-current="page" href="#">Modificar Platillo</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% load humanize %}
            <div class="container mt-5">
                <div class="row">
                    <div class="col-m-2">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Id. Platillo</th>
                                    <th scope="col">Nombre Platillo</th>
                                    <th scope="col">Ingredientes</th>
                                    <th class="dispo" scope="col">Disponibilidad</th>
                                    <th class="dispo" scope="col">Stock Crítico</th>
                                    <th scope="col">Precio</th>
                                    <th class="dispo" scope="col">Acción</th>
                            </thead>
                            <tbody>
                                {% for p in entity %}
                                <tr>
                                    <td id="idPlatillo" name="idPlatillo" style="margin-right: 100px;">{{p.idplatillo}}
                                    </td>
                                    <td class="titulos">{{ p.nombre | title }} </td>
                                    <td class="titulos">{{ p.ingredientes | title }} </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            {% if p.disponible %}
                                            <div class="form-check form-switch inputs">
                                                <input class="form-check-input" type="checkbox" name="Disponible"
                                                    role="switch" id="flexSwitchCheckDefault" checked disabled>
                                            </div>
                                            {% else %}
                                            <div class="form-check form-switch inputsheck">
                                                <input class="form-check-input" type="checkbox" name="Disponible"
                                                    role="switch" id="flexSwitchCheckDefault" disabled>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            {% if p.stockcritico %}
                                            <div class="form-check form-switch inputs">
                                                <input class="form-check-input" type="checkbox" name="Disponible"
                                                    role="switch" id="flexSwitchCheckDefault" checked disabled>
                                            </div>
                                            {% else %}
                                            <div class="form-check form-switch inputsheck">
                                                <input class="form-check-input" type="checkbox" name="Disponible"
                                                    role="switch" id="flexSwitchCheckDefault" disabled>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>${{ p.valorunitario |intcomma }} </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <a href="ModificarPlatilloProveedor/{{ p.idplatillo}}"><i class="fas fa-user-edit m-1"
                                                    style="color:#02B37F; cursor: pointer;"></i></a>
                                            <a href="#" onClick="comprobarEliminar('{{p.idplatillo}}')"><i
                                                    class="fas fa-trash-alt m-1" style="color: brown; cursor: pointer;">
                                                </i> </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include 'HeaderFooter/paginator.html'%}
                    </div>
                    {{ mensaje }}
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function comprobarEliminar(id) {
        Swal.fire({
            "title": '¿Estás seguro?',
            "text": '¿Estás seguro que deseas eliminar este platillo?',
            "icon": 'question',
            "confirmButtonText": 'Aceptar',
            "showCancelButton": true,
            "confirmButtonText": 'Si, Borrar platillo',
            "cancelButtonText": 'No, cancelar!',
            "reverseButtons": true,
            "confirmButtonColor": "#9c3534"
        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "EliminarPlatilloProveedor/" + id
                }
            })
    }
</script>
{% endblock%}