{% extends "HeaderFooter/base.html"%}
{% load static %}

{% block content %}
{% load humanize %}
<script>
  function modificarEstado(id) {
    Swal.fire({
      "title": "¿Desea Terminar El Platillo?",
      "icon": "question",
      "showCancelButton": true,
      "cancelButtonText": "No, Cancelar",
      "confirmButtonText": "Si, Terminar",
      "confirmButtonColor": "#9C3534"
    }).then(function (result) {
      if (result.isConfirmed) {
        let timerInterval
        Swal.fire({
          title: 'Terminando Platillo',
          html: 'Por Favor Espere...',
          timer: 1000,
          timerProgressBar: true,
          didOpen: () => {
            Swal.showLoading()
            const b = Swal.getHtmlContainer().querySelector('b')
            timerInterval = setInterval(() => {
              b.textContent = Swal.getTimerLeft()
            }, 100)
          },
          willClose: () => {
            clearInterval(timerInterval)
          }
        }).then((result) => {
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Platillo Terminado',
            showConfirmButton: false,
            timer: 1000
          })
          setTimeout(() => {
            if (result.dismiss === Swal.DismissReason.timer) {
              window.location.href = "cambiarAListo/" + id
            }
          }, 1000);
        })

      }
    })
  }
</script>
<link rel="stylesheet" href="{% static 'css/style-recepcionista-view.css' %}">
<link rel="stylesheet" href="{% static 'css/style-registrop.css' %}">
<div class="container bg-white shadow-lg mt-5">
  <div class="row">
    <div class="col m-2">
      <div class="titulo">
        <h1 class="text-center fs-1">Platillos Pendientes</h1>
      </div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link text-danger " aria-current="page" href="{% url 'menuProveedor' user.id %}">Mis Datos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger " aria-current="page" href="{% url 'SubirMisPlatillos'%}">Subir Platillos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" aria-current="page"
            href="{% url 'listarPlatilloProveedor'%}">ListarPlatillos</a>
        </li>
        <a class="nav-link text-danger  position-relative active" href="{% url 'PlatillosPendientes'%}">Platillos Pendientes
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
             {{TotalPedidos}}
              <span class="visually-hidden">unread messages</span>
            </span>
        </a>
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page" href="#">Modificar Platillo</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-responsive table-borderless table-hover table-responsive">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col p-0">Cantidad</th>
            <th scope="col">Estado</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for platos in platillos %}
          <tr>
            <td>{{platos.1}}</td>
            <td>{{platos.2}}</td>
            {%if platos.3 == 1 %}
            <td>Pendientes</td>
            {% endif %}
            {%if platos.3 == 2 %}
            <td>En Preparación</td>
            {% endif %}
            {%if platos.3 == 3 %}
            <td>Listo</td>
            {% endif %}
            <td>
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Estado
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" href="{% url 'cambiarAPendiente' platos.4 %}">Pendiente</a></li>
                  <li><a class="dropdown-item" href="{% url 'cambiarAPreparacion' platos.4 %}">En Preparación</a></li>
                  {% if  platos.3 == 2 %}
                  <li><a class="dropdown-item" onclick="modificarEstado('{{platos.4}}')" href="#">Listo</a></li>
                  {% endif %}
                </ul>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <tbody>
      </tbody>
    </div>
  </div>
</div>
{%endblock%}