{% extends "HeaderFooter/base.html"%}
{% load static %}

{% block content %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/style-recepcionista-view.css' %}">
<link rel="stylesheet" href="{% static 'css/style-registrop.css' %}">
<div class="container bg-white shadow-lg mt-5">
  <div class="row">
    <div class="col m-2">
      <div class="titulo">
        <h1 class="text-center fs-1">Registrar Nuevo Platillo</h1>
    </div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link text-danger " aria-current="page" href="{% url 'menuProveedor' user.id %}">Mis Datos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  active" aria-current="page" href="{% url 'SubirMisPlatillos'%}" >Subir Platillos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" aria-current="page" href="{% url 'listarPlatilloProveedor'%}">Listar Platillos</a>
        </li>
        <a class="nav-link text-danger position-relative"  href="{% url 'PlatillosPendientes'%}">Platillos Pendientes
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
             {{TotalPedidos}}
              <span class="visually-hidden">unread messages</span>
            </span>
        </a>
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page" href="#">Modificar Platillo</a>
      </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <section class="">
        <form action="" autocomplete="off" method="post" class="formulario needs-validation mt-5" enctype=multipart/form-data validate novalidate>
            {% csrf_token %}
            <div class="itemsIzquierda">
                <div class="campos">
                    <div class="inputs mb-4">
                        <div class="form-floating">
                            <input type="text" minlength="4" maxlength="30" pattern="^[a-zA-Z]+$" id="Nombre" name="Nombre" class="form-control inputfocus" placeholder=" "
                            required>
                            <label for="Nombre">Nombre del platillo</label>
                            <div class="valid-feedback"> </div>
                            <div class="invalid-feedback">Complete el campo</div>
                        </div>                  

                    </div>

                    <div class="inputs mb-4">
                        <div class="form-floating">
                            <input type="text" minlength="4" maxlength="50"  id="Ingredientes" name="Ingredientes" class="form-control inputfocus" placeholder=" "
                            required>
                            <label for="">Ingredientes</label>
                            <div class="valid-feedback"> </div>
                            <div class="invalid-feedback">Complete el campo</div>
                        </div>
                    </div>
                    <div class="inputs mb-4">
                        <div class="form-floating">
                            <input type="number"  min="100"  max="999999" id="Valor" name="Valor" placeholder="Valor" class="form-control inputfocus" required>
                            <label for="">Valor</label>
                            <div class="valid-feedback"> </div>
                            <div class="invalid-feedback">Complete los campos</div>                            
                        </div>
                    </div>

                    <div class="inputs mb-4" id="divFileUpload">
                        <div class="input-group mb-3">
                            <input type="file" name="foto" id="file" accept="image/png,image/jpeg,image/bmp,image/gif" class="form-control inputfocus" required>
                            <div class="valid-feedback"> </div>
                            <div class="invalid-feedback">Inserte una imagen</div>
                        </div>
                    </div>    
                    <div class="form-check form-switch inputs check">
                        <input class="form-check-input" type="checkbox" name="Disponible" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Disponible</label>
                      </div>
                                        
                </div>
                <div class="imagen-botones">
                    <h3 class="titlulo-vista-previa">Tu plato se verá así en el menú  </h3>
                    <div class="card platillo" style="width: 20rem; height: 20rem;">
                        <div id="preview">
                        </div>
                        <div class="card-body d-flex flex-column text-center justify-content-center">
                          <h5 id="previaNombre" class="card-title platillo__nombre"></h5>
                          <p id="previaIngredientes" class="card-text platillo__descripcion"></p>
                          <hr class="separacion">
                          <div class="precio-signo">
                            <h6>$</h6><h6 id="previaValor" class="card-subtitle mb-2  platillo__precio"></h6>   
                          </div>
                        </div>
                      </div>
                    <div class="multimedia">
                        
                        
                    </div>
                </div>
            </div>
            <div class="botones">
                <button type="submit" class="btn btn-aceptar mb-4" onClick="alertaExito()">Registrar</button>
            </div>
        </form> 
    </section>
    </div>
  </div>
</div>
<script src="{% static 'app/foto.js'%}"></script>
<script src="{% static 'app/validar-form.js'%}"></script>
<script src="{% static 'app/vista-previa.js'%}"></script>


{% endblock%}