{% extends "HeaderFooter/base.html"%} 
{% load static %}

{% block L-izquierda %}
<a href="#">Inicio</a>
<a href="#">Sobre nosotros</a>
{% endblock%}


{% block L-derecha %}
<a href="#">Catálogo</a>
<a href="#">Cerrar sesión</a>
{% endblock%}

{% block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estiloDetalleP.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Detalle de Pedido</title>
</head>
<body>
    {% load humanize %}
    <main>
        
            <h1 class="num-pedido">Pedido #<span>{{pedido.0.0}}</span></h1>
        
        <div class="fecha-estado">
            <p>Tu pedido se realizó el <span>{{pedido.0.1}}</span> y se encuentra <span class="estado">{{pedido.0.2 | title}}</span> </p>
        </div>
        
        <div class="cuadrado">
            <h2>Detalles del pedido</h2> 
            <div class="container-precios">
                <div class="campos">
                    <div class="separaciones">
                        {% for p in platillos %}
                        <div class="platillo">
                            <label  for="">{{p.data.3 | title}} <span class="multiplicador-platillo">x{{p.data.4}}</span></label>
                            <label for="">${{p.data.5 | intcomma}}</label>
                        </div>
                        {% endfor %}
                    </div>
        
                    </div>
                    <div class="separaciones-totales">
                        <div class="totales">
                            <label for="">Subtotal:</label>
                            <label for="">${{pedido.0.6 | intcomma}}</label>
                        </div>
            
                        <div class="totales">
                            <label for="">Total:</label>
                            <label for="">${{pedido.0.7 | intcomma}}</label>
                        </div>
                    </div>
                </div>
                <div class="tipo-entrega">
                    <label class="entrega-bold p-1"  for="">Tipo de servicio: </label> <br>
                    <label for="" class="p-1">{{pedido.0.8}}</label>
                </div>
        
                <div class="datos-cliente">
                    <h2>Datos del cliente</h2>
                    <p>{{pedido.0.9 | title}}</p>
                    <p>{{pedido.0.10 | title}}</p>
                    <p>{{pedido.0.11 | title}}</p>
                    <p>{{pedido.0.12 | title}}</p>
                </div>
    
            </div>
        </div>
        

        
    </main>
</body>
</html>

{% endblock%}