{% load static %}
<a href="#"><img class="iconPerfil" src="{% static 'img/userIcon.png' %}" alt="icono Perfil" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></a>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'app/jquery.rut.chileno.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/styles-perfilFlotante.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-registro-proveedor.css' %}">

    <title>Document</title>
</head>

<body>
    <section class="container ">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header canvas-header">
                    <img class="icon" src="{% static 'img/userIconBlack.png' %}" alt="">
                    <h3 id="offcanvasRightLabel">MI CUENTA</h3>
                    <label for="">$Saldo</label>

                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="nom-user">
                    <img class="icon" src="{% static 'img/userIconBlack.png' %}" alt="">
                    <h3>Nombreusuario</h3>
                </div>
            
                <div class="nav-canvas">
                    <ul><img class="icon" src="{% static 'img/userIconBlack.png' %}" alt=""><a href="#">Mis Datos</a></ul>
                    <ul><img class="icon" src="{% static 'img/userIconBlack.png' %}" alt=""><a href="#">Mis pedidos</a></ul>
                    <ul><img class="icon" src="{% static 'img/userIconBlack.png' %}" alt=""><a href="#">Mi Menu semanal</a></ul>
                </div>

                <button type="button" class="btn btn-outline-dark w-75 btn-exit">Cerrar Sesión</button>
            </div>
        </div>
    </section>
</body>

</html>