.contenido-reparto img{
    width: 1rem;
    margin-left: 7px;
 }
 .table{
     margin: 0;
 }
 .titulo{
    color: #9c3534;
}

.titulo{
    color:#9C3534;
}
 /* 
 .contenido-reparto h2{
     margin-top: 2rem;
     margin-bottom: 1.5rem;
 }
 
 .contenido-reparto{
     text-align: center;
     font-size: 0.9rem;
 }
 
 
 .contenido-tabla{
     text-align: left;
     display: flex;
     justify-content: center;
     background-color: #e1e1e1;
     border-radius: 1px;
     padding: 1rem;
 } */
 body{
     background-color: #f7f7f7;
 }
 
 .contenedor-tarjeta{
     width: 20rem;
     margin: 0;
 
 }
 
.botonEnviar{
    align-items:center;
    background-color:#9C3534;
    color:#fff;
    padding:.7rem;
    width:100%;
}
.botonEnviar:hover{
    background-color:#fff;
    color:#9C3534;
    border:1px solid #9C3534;
}
.titulo{
    color:#9C3534;
}
 .contenedor-tarjeta h4{
     text-align: center;
     
 }
 
 .tarjeta-general{
     margin-top: 3rem;
     background-color: #fff;
     border-radius: 1px;
 }
 
 .contenido-carta{
    margin-top: 3rem;
    padding-bottom: 3rem;
     padding-left: 2rem;
 }
 
 .contenido-carta span{
     font-size: 1.3rem;
 }
 
 .contenido-carta button{
     width: 20rem;
 }
 