.contenido-reparto img{
   width: 1rem;
   margin-left: 7px;
}
.table{
    margin: 0;
}
/* 
.contenido-reparto h2{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.contenido-reparto{
    text-align: center;
    font-size: 0.9rem;
}


.contenido-tabla{
    text-align: left;
    display: flex;
    justify-content: center;
    background-color: #e1e1e1;
    border-radius: 1px;
    padding: 1rem;
} */
