*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F7F8F9;
    box-sizing: border-box;
}

.cuadrado{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    align-items: center;
    height: 750px;
}

input[type=number] { -moz-appearance:textfield; }

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    background-color: #ffffff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: .4rem;
}

.titulos:first-letter{
    text-transform:capitalize;
        
}

.form-check-input:checked{
    background-color: #9c3534;  
    border: 1.5px solid #9c3534;
}
.form-check-input:checked:focus{
    border: 1.5px solid #9c3534;
    box-shadow: none;
}

.form-check-input:focus{
    border: 1.5px solid #9c3534;
    box-shadow: none;
}

.check{
    display: flex;
    justify-content:center;
    gap: 0.3rem;
}
.dispo{
    text-align: center;
}