.titulo{
    color: #9c3534;
}

.check img{
    width: 2rem;
}

.check{
    width: 3rem;
    margin-top: 0%;
    padding-top: 0%;
}

.contenido-pedidovich{
    padding-top: 1rem;
}

.bloque-abajo{
    margin-top: 1rem;
}

.card-body {
    width: 80%;
    margin: 1rem auto;
}

.info-botones{
    display:flex;
    justify-content:space-between;
    margin-top: 4rem;
    gap: 8.5rem;
}

.botonEnviar{
    background-color: #9c3534;  
    color: #fff;
}
.ancho{
    width: 13rem;
}
.vl{
    border-left: 2px solid #9c36348e;
    height: auto;
}

.info{
    width: 40%;
}

.platillos{
    margin: 1rem 0;
}

.total{
    font-weight: bold;
    font-size: 20px;
}

.por-cantidad{
    font-weight: bold;
}

