{% extends "HeaderFooter/base-sidebar.html"%}
{% load static %}


{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles-cli-conv.css' %}">
    <title>Document</title>
</head>

<body>
    <section class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow-lg p3 mt-5 bg-white">
                    <h3 class="titulo  mt-5 text-center">Registro Cliente Convenio</h3>
                    <div class="card-body">
                        <form action="" id="post-form" class="d-flex flex-column  justify-content-center"
                            method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    {% include "HeaderFooter/formularioRegistro.html"%}
                                </div>
                                <div class="col-lg-6 p-4">
                                    <div class="form-row">
                                        <div class="row">
                                            <div class="col-lg-12 mb-3">
                                                <div class="form-floating">
                                                    {% if campos.0 %}
                                                    <input type="text" name="rutCliConv" oninput="checkRut(this)"  class="form-control input_rut"
                                                    id="txt-rut" placeholder="12.452.987-2" value="{{campos.0}}" required>
                                                    {% else %}
                                                    <input type="text" name="rutCliConv" oninput="checkRut(this)"  class="form-control input_rut"
                                                    id="txt-rut" placeholder="12.452.987-2" required>
                                                    {% endif %}
                                                    <label for="">Rut Cliente</label>
                                                    <small id="Msg" class="text-danger fs-6 mt-1">{{mensajeRut}}</small>
                                                </div>
              
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 mb-4">
                                                <div class="form-floating">
                                                    {% if campos.1 %}
                                                    <input type="text" name="nomCliConv" class="form-control"
                                                    id="nomCliConv" placeholder="Nombres Cliente" value="{{campos.1}}" required>
                                                    {% else %}
                                                    <input type="text" name="nomCliConv" class="form-control"
                                                    id="nomCliConv" placeholder="Nombres Cliente"  required>
                                                    {% endif %}
                                                    <label for="">Nombre Cliente</label>
                                                </div>
                                                
                                            </div>
                                            <div class="col-lg-6 mb-4">
                                                <div class="form-floating">
                                                    {% if campos.2 %}
                                                    <input type="text" name="apeCliConv" class="form-control" minlength="2"
                                                    id="apeCliConv" placeholder="Apellidos Cliente" value="{{campos.2}}" required>
                                                    {% else %}
                                                    <input type="text" name="apeCliConv" class="form-control" minlength="2"
                                                    id="apeCliConv" placeholder="Apellidos Cliente" required>
                                                    {% endif %}
                                                    <label for="">Apellido Cliente</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    {% if campos.3 %}
                                                    <input type="text" name="direcCliConv" class="form-control"
                                                    id="direcCliConv" minlength="4" value="{{campos.3}}" placeholder="Direccion Cliente"
                                                    required>
                                                    {% else %}
                                                    <input type="text" name="direcCliConv" class="form-control"
                                                    id="direcCliConv" minlength="4" placeholder="Direccion Cliente"
                                                    required>
                                                    {% endif %}
                                                    <label for="">Direccion</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 mb-2">
                                                <div class="form-floating">
                                                    <select min="1" id="disabledSelect" name="rutEmpConv" class="form-select inputfocus" required>
                                                        <option disabled selected value="">Seleccionar</option>
                                                        {% for c in Seleccion %}
                                                        <option value="{{ c.0 }}">{{ c.1 }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <label for="floatingSelect">Empresa</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 mb-2 mt-1">
                                                <div class="form-floating">
                                                    {% if campos.5 %}
                                                    <input type="number" name="saldoCli" class="form-control inp" id="saldoCli"
                                                    placeholder="Saldo Cliente" value="{{campos.5}}" required>
                                                    {% else %}
                                                    <input type="number" name="saldoCli" class="form-control inp" id="saldoCli"
                                                    placeholder="Saldo Cliente" required>
                                                    {% endif %}
                                                    <label for="">Saldo Cliente</label>
                                                </div>                                 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pieForm">
                                    <button class="btn botonEnviar"  id="btn1" type="submit">Registrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </section>
</body>
<script type="text/javascript">
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    $('#post-form').on('submit', function (event) {
        event.preventDefault();
        let inputrut = document.getElementById('txt-rut')
        let rut = document.getElementById('txt-rut').value;
        let txtHtml = document.getElementById('txt-invalid');
        let formPost = document.getElementById('post-form')
        var formData = new FormData(document.getElementById('post-form'));
        formData.append('rut', rut);
        if (rut && document.getElementById('post-form').checkValidity()) {
            document.getElementById('post-form')
            fetch('{% url "valrutcliente" %}', {
                method: 'POST',
                mode: 'same-origin',
                cache: 'no-cache',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                },
            }).then(response => response.json())
                .then(data => {
                    console.log(data)
                    if (data.valid) {
                        console.log("Usuario registrado con exito")
                        fetch('{% url "ClienteConvenio" %}'), {
                            method: 'POST',
                            mode: 'same-origin',
                            cache: 'no-cache',
                            body: formData,
                            headers: {
                                'X-CSRFToken': getCookie('csrftoken'),
                            },
                        }
                        
                        formPost.submit();
                        return
                    } else {
                        document.getElementById("Msg").innerHTML ="Cliente existente en la Base de datos";
                    }
                });
        } else {
            console.log("Llene todos los campos")
            event.preventDefault();
        }
    });
</script>

</html>
{% endblock %}