
{% extends "HeaderFooter/base.html"%}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/style-recepcionista-view.css' %}">
<div class="container bg-white shadow-lg mt-5 mb-3">
  <div class="row">
    <div class="col m-2">
      <h1 class="text-center mt-1 mb-5 titulo">Cambiar Estado Del Pedido <span class="titulo"> #{{ pedidoSelect.idpedido }}</span></h1>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link   text-danger" aria-current="page" href="{% url 'menuRecepcion' user.id %}">Mis Datos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger btn btn-primary position-relative" href="{% url 'recepcionista' %}">Lista de Pedidos Pendientes
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
               {{TotalPedidos}}
                <span class="visually-hidden">unread messages</span>
              </span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active disabled" aria-current="page" href="#">Cambiar Estado</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  disabled" aria-current="page" href="#">Asignar Repartidor</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col mt-2">
    <section class="container contenido-pedidovich ">
     
            <section class="container contenido-pedidovich">
                <div class="text-center ">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="card-body info-botones m-0 w-100">
                          <div class="info d-flex justify-content-center">
                            <div class="card" style="width: 22rem;">
                              <div class="card-body">
                                <h5 class="card-title">Detalles del pedido</h5>
                                <p class="card-text"><div>
                                  <label for=""><span>Dirección:</span></label>
                                  <label for="">{{ pedidoSelect.direccionpedido | title }}</label>
                              </div>
                              <div>
                                  <label for=""><span>Fecha:</span></label>
                                  <label for="">{{ pedidoSelect.fechapedido }}</label>
                              </div>
                              <div>
                                  <label for=""><span>Rut Cliente:</span></label>
                                  <label for="">{{ pedidoSelect.rutcliente }}</label>
                              </div>
                              <div>
                                <label for=""><span>Telefono:</span></label>
                                <label for="">{{ cliente.telefono }}</label>
                            </div></p>
                              </div>
                              <ul class="list-group list-group-flush">
                                {% for det in detallePedido %}
                                <li class="list-group-item">{{ det.idplatillo | title }} <span class="por-cantidad">x {{det.cantidad}}</span> </li>
                                {% endfor %}
                              </ul>
                              <div class="card-body">
                                <div class="total">                              
                                  <label for=""><span>Total: $</span></label>
                                  <label for="">{{ pedidoSelect.valortotal | intcomma }}</label>
                                </div>
                              </div>
                            </div>
                            
                          </div>
                          <div class="vl"></div>
                          <div class="info">
                            <h2 class="text-dark">Estado Actual <span class="titulo">{{pedidoSelect.idestpedido | title}}</span></h2>
                            <p class="card-text mt-5">Seleccione un estado del pedido para actualizar su fase.</p>
                            <select class="form-select" aria-label="Default select example" name="estado_pedido">
                                <option selected disabled>Seleccione un estado del pedido</option>
                                {% for e in estados %}
                                <option value="{{e.0}}">{{e.1}}</option>
                                {% endfor %}
                            </select>
                            <button class="btn botonEnviar bloque-abajo mt-5" id="btn1" type="submit">Cambiar estado</button>
                            {{mensaje}}
                          </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </section>
  </div>
</div>
{% endblock%}

