{% extends "HeaderFooter/base.html"%}
{% load static %}

{% block titulo %}
Ver Estado del Reclamo
{% endblock %}
{% block content %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/style-recepcionista-view.css' %}">

<div class="container bg-white shadow-lg mt-5 mb-3">
    <div class="row">
        <div class="col m-2">
            <h1 class="text-center mt-1 mb-5 titulo">Asignar Repartidor</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link   text-danger" aria-current="page" href="{% url 'menuRecepcion' user.id %}">Mis
                        Datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger position-relative" href="{% url 'recepcionista' %}">Lista de Pedidos
                        Pendientes
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{TotalPedidos}}
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-danger" aria-current="page" href="{% url 'verReclamos' %}">Ver
                        reclamos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  disabled" aria-current="page" href="#">Cambiar Estado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  disabled" aria-current="page" href="#">Asignar Repartidor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active  disabled" aria-current="page" href="#">Detalle del Recamo</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="row mt-2">
        <div class=" text-center ">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 col-md-10 col-sm-12">
                    <div class="card mb-4">
                        <div class="row">
                            <h3 class="mt-3 mb-5">Reclamo n° {{reclamo.idreclamo}} </h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-3 font">
                                <h5 class="negrita font ">Fecha: </h5>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-9 font">
                                <p class="text-lg-start fs-5 text-sm-center font">
                                    {{reclamo.fechareclamo}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-3 font">
                                <h5 class="negrita font">Correo: </h5>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-9 font">
                                <p class="text-lg-start fs-5 font text-sm-center">
                                    {{correo}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-3">
                                <h5 class="negrita font">De: </h5>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-9 font">
                                <p class="text-lg-start fs-5 font text-sm-center">
                                    {{clientes.nombres | title}} {{clientes.apellidos | title}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <h5 class="negrita">Descripción: </h5>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <p class="text-lg-start fs-5 font text-sm-center">
                                    {{reclamo.descreclamo }}
                                </p>
                            </div>
                        </div>
                        <hr>
                        <form action="" method="POST">
                            {% csrf_token %}

                            <div class="row mt-4 d-flex justify-content-center">
                                <div class="col-10">
                                    <div class="form-floating">
                                        <textarea class="form-control" name="Mensaje" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                        <label for="floatingTextarea2">Responder</label>
                                      </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="d-flex justify-content-center mt-4 mb-3">
                                    <input type="submit" class="btn botonEnviar mt-3" value="Enviar">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}