{% extends "HeaderFooter/base.html"%}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/style-recepcionista-view.css' %}">
<div class="container bg-white shadow-lg mt-5">
  <div class="row">
    <div class="col m-2">
      <h1 class="text-center mt-1 mb-5 titulo">Mi Cuenta</h1>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'menuRecepcion' user.id %}">Mis Datos</a>
        </li>
        <a class="nav-link text-danger btn btn-primary position-relative" href="{% url 'recepcionista' %}">Lista de Pedidos Pendientes
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
               {{TotalPedidos}}
                <span class="visually-hidden">unread messages</span>
              </span>
          </a>
          <li class="nav-item">
            <a class="nav-link  disabled" aria-current="page" href="#">Cambiar Estado</a>
        </li>
          <li class="nav-item">
            <a class="nav-link  disabled" aria-current="page" href="#"  >Asignar Repartidor</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row d-flex justify-content-center mt-5">
        <div class="col-10">
            <form method="POST" class="needs-validation" novalidate>
              {% csrf_token %}
              <div class="form">
                <div class="row d-flex justify-content-center">
                  <div class="row">
                    <div class="col-lg-6 col-sm-12">
                      {{formCuenta|crispy}}
                        <a href="/cambioContrasena" class="btn btn-danger">Cambiar contraseña</a>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                      {{form|crispy}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center mt-4 mb-3">
                <input type="submit" class="btn btn-danger mt-3" value="Modificar"> 
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}