{% extends "HeaderFooter/base.html"%}
{% load static %}


{% block content %}
{% load humanize %}
<script>
  function modificarEstado(id) {
    Swal.fire({
      "title": "¿Desea Finalizar El Pedido?",
      "icon": "question",
      "showCancelButton": true,
      "cancelButtonText": "No, Cancelar",
      "confirmButtonText": "Si, Finalizar",
      "confirmButtonColor": "#9C3534"
    }).then(function (result) {
      if (result.isConfirmed) {
        let timerInterval
        Swal.fire({
          title: 'Finalizando Pedido',
          html: 'Por Favor Espere...',
          timer: 1000,
          timerProgressBar: true,
          didOpen: () => {
            Swal.showLoading()
            const b = Swal.getHtmlContainer().querySelector('b')
            timerInterval = setInterval(() => {
              b.textContent = Swal.getTimerLeft()
            }, 100)
          },
          willClose: () => {
            clearInterval(timerInterval)
          }
        }).then((result) => {
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Pedido Finalizado',
            showConfirmButton: false,
            timer: 1000
          })
          setTimeout(() => {
            if (result.dismiss === Swal.DismissReason.timer) {
              window.location.href = "cambiarEstadoTienda/" + id
            }
          }, 1000);
        })

      }
    })
  }
</script>

<link rel="stylesheet" href="{% static 'css/style-recepcionista-view.css' %}">
<div class="container bg-white shadow-lg mt-5">
  <div class="row">
    <div class="col m-2">
      <h1 class="text-center mt-1 mb-2">Lista de Pedidos Pendientes</h1>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link   text-danger" aria-current="page" href="{% url 'menuRecepcion' user.id %}">Mis Datos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active position-relative" href="{% url 'recepcionista' %}">Lista de Pedidos
            Pendientes
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{TotalPedidos}}
              <span class="visually-hidden">unread messages</span>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  disabled" aria-current="page" href="#">Cambiar Estado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  disabled" aria-current="page" href="#">Asignar Repartidor</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row d-flex justify-content-center mt-2">
        <div class="col-10">
          <form action="" method="POST">
            {% csrf_token %}
            <div class="table-responsive-md">
              {%if TotalPedidos > 0 %}
              <table class="table contenido-tabla  table-hover">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Estado Pedido</th>
                    <th scope="col">Tipo de Servicio</th>
                    <th scope="col ancho">Despacho O Retiro Local</th>
                  </tr>
                </thead>
                
                {% for l in listos %}
                <tr>
                  <td name="idPedido">{{l.0}}</td>
                  {% if l.3 %}
                  <td>{{l.3 | title}}</td>
                  {%else%}
                  <td>Retiro En Local</td>
                  {%endif%}
                  {% if l.7 != 'LISTO' %}

                  <td>{{l.7 | title}} <a href="estado/{{l.0}}" class="check p-2" data-bs-toggle="tooltip"
                      data-bs-placement="bottom" title="Cambiar Estado"><img style="width: 2rem;"
                        src="{% static 'img/modificar.png' %}" alt="check"></a></td>
                  {% else %}
                  <td>{{l.7}}</td>
                  {% endif %}
                  <td>{{l.5| title}}</td>
                  {% if l.7 == 'LISTO' %}
                  {% if l.5 == 'DOMICILIO' %}
                  <td class="check ancho text-center"><a href="asignacion/{{l.0}}" type="submit"
                      data-bs-toggle="tooltip" data-bs-placement="bottom" title="Asignar Repartidor "><img
                        src="{% static 'img/reparto.png' %}" alt="check"></a></td>
                  {% else %}
                  <td class="check ancho text-center"><a href="#" onclick="modificarEstado('{{l.0}}')"
                      data-bs-toggle="tooltip" data-bs-placement="bottom" title="Finalizar Pedido"><img
                        src="{% static 'img/store.png' %}" alt="check"></a></td>
                  {% endif %}
                  {%else%}
                  {% if l.7 != 'LISTO' %}
                  {% if l.5 == 'DOMICILIO' %}
                  <td class="check ancho text-center"><a data-bs-toggle="tooltip" data-bs-placement="bottom"
                      title="Cambiar Estado del Pedido Para Asignar"><img src="{% static 'img/entrega.png' %}"
                        alt="check"></a></td>
                  {% else %}
                  <td class="check ancho text-center"><a data-bs-toggle="tooltip" data-bs-placement="bottom"
                      title="Cambiar Estado del Pedido Para Finalizar"><img src="{% static 'img/store2.png' %}"
                        alt="check"></td></a>
                  {% endif %}
                  {% endif %}
                  {% endif %}
                </tr>
                {% endfor %}  
              </tbody>
            </table>
            {%endif%}
              {%if TotalPedidos == 0 %}
              <div class="alert alert-danger d-flex justify-content-center" role="alert">
                No Hay Pedidos Pendientes
              </div>
              {%endif%}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}