.row{
    padding: 0 !important;
    margin: 0 !important;
}

.container-fluid{
    padding: 0 !important;
    
}

.col-lg-8{
    padding: 0 !important;
    margin: 0 !important;
}

.comida{
    align-self: center;
    align-content: center;
    align-items: center;
}

.empresa{
    align-self: center;
    align-content: center;
    align-items: center;
}


.emp-foto{
    position: relative;
}

.repartidor{
    align-self: center;
    align-content: center;
    align-items: center;
}

.donde-encontrarnos{
    align-self: center;
    align-content: center;
    align-items: center;

}

.info{
    margin-top: 3%;
}

.donde-en {
    margin-top: 3%;
}

.quienes-somos{
    margin-top: 3%;
}

.small-border {
    height: 3px;
    width: 80px;
    margin: 15px 0;
    background: #9C3534;
    margin-left: auto;
    margin-right: auto;
}
.plato{
    background-color: #F6F6F6; 
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
}

.platillos{
    margin-bottom: 5%;
    margin-top:8%;
}

/*Texto*/

.plato h4{
    margin-top: 5%;
}

h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #202020;
}

h4{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    color: #202020;
}

p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.2em;
    color: #202020;
}

a:hover{
    color: #c4c4c4;
}
/*Imagenes*/

#imgmapa{
    width: 100%;
}

/*min width media*/

@media (min-width:995px){
    .empresa{
        position: absolute;
        right: 0;
    } 
}