.main-location{
    display: flex;
    align-items: center;
    /* background: #000 url(/static/img/main_mobile.jpg)  50%/cover no-repeat; */
    padding: 30px 20px;
    height: calc(100vh - 135px);
}

.main-location-text{
    text-shadow: 0 0 10px rgb(0 0 0 / 90%);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 2rem;
    color: #fff;
}
.btncatalogo{
    text-shadow: 0 0 10px rgb(0 0 0 / 90%);
    background-color: brown;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.btncatalogo:hover{
    text-shadow: 0 0 10px rgb(0 0 0 / 90%);
    border: 1px solid  rgba(133, 33, 33, 0.568);
    background-color: rgba(0, 0, 0, 0.3); 
    color: brown;
}


.row{
    padding: 0 !important;
    margin: 0 !important;
}

.container-fluid{
    padding: 0 !important;

}

.col-lg-8{
    padding: 0 !important;
    margin: 0 !important;
}

.small-border {
    height: 3px;
    width: 240px;
    margin: 15px 0;
    background: #9C3534;
    margin-left: auto;
    margin-right: auto;
}
.carta{
    width: 90%;
    margin: auto;
}

.item-carta{
    background-color: #F6F6F6; 
    margin: auto;
    margin-bottom: 0;
    box-shadow: 2px 2px 30px 1px rgba(0, 0, 0, 0.3);
    height: auto;
    padding: 30px;
}
.tittle-card{
    font-weight: 700;
    line-height: 25px;
    color: #7d7d7d;
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-danger:hover{
    background-color: #7d7d7d;
    border: 1px solid brown;
    transition: all .4s;
}
.span-home{
    color: #7d7d7d;
    font-size: inherit;
    line-height: inherit;
    display: block;
}

.botonComprar{
    align-items:center;
    background-color:#9C3534;
    color:#fff;
    width:75%;
    border: none;
    margin: auto;
}
.botonComprar:hover{
    background-color:#fff;
    color:#9C3534;
    border:1px solid #9C3534;
}
.btn-comprar{
    text-align: center; 
    padding: 0;
    margin-top: 7%;
}
.card-body-main{
     padding: 10px 0px;
}

/*Texto*/

.plato h4{
    margin-top: 5%;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

h4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    color: #202020;
}

h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 3%;
    letter-spacing: 1px;
    color: rgb(104, 104, 104);
}
p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1em;
    color: #202020;
    margin-bottom: 0 !important;
    margin-top: 2%;
    width: auto;
}
.nav-item-a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: capitalize;
    border-radius: 6px;
    padding: 8px 16px !important;
    background-color: initial;
}

.container-cards{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    min-width: 280px;
    padding: 20px 15px 50px;
}

.platillo__descripcion{
    color: rgb(104, 104, 104);
    margin-top: .5rem;
}

.platillo__precio{
    color:#9c3534;
    font-weight: bold;
}

.platillo__nombre{
    margin-top: 2%;
}

/*Imagenes*/

.img-carta{
    margin-top: 4%;
    height: 35%;
    width: 70%;
}
@media (min-width: 1200px) {
    .main-location{
        height: calc(100vh - 150px);
    }
}
@media (min-width: 768px)  {
    .main-location{
        height: calc(100vh - 135px);
        /* background: #000 url(/static/img/main.jpg)  50%/cover no-repeat !important; */ 
    }
}

@media (min-width:100px ) {
    .item-carta{
      width: 90%;
    }
}
@media (min-width:680px ) {
    .item-carta{
      width: 45%;
    }
}

@media (min-width:1050px ) {
    .item-carta{
      width: 30%;
    }
}
@media (max-width: 768px)  {
    .main-location-text
        {
        text-shadow: 0 0 10px rgb(0 0 0 / 90%);
        font-weight: 400;
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 2rem;
        color: #fff;
        text-align: center;
        }
    .btncatalogo{
        padding: 5px 16px;
        text-shadow: 0 0 10px rgb(0 0 0 / 90%);
        background-color: brown;
        font-size: 1.4rem;
        color: #fff;
        text-transform: uppercase;
        display: block;
        margin: auto;
    }

}

@media (max-width: 765px ) {
    .carousel{
        display: none;
    }
}
.fondoOpa{
    text-align: center;
    background-color: #00000081;   
    border-radius:1rem;
}
.flotante{
    position: relative;
    display: flex;
    margin-left:10rem;
    bottom: 20rem;
    height: 100%;
    gap:1rem;
}

@media (max-width:990px) {
    .flotante{
        display: none;
    }
}
@media (max-width:1400px) {
    .flotante{
        bottom: 15rem;
    }
}
.Carrusel{

    width: 100%;
    height: 100%;
   
}
.Carrusel img{
    width: 100%;
    height: 100%;
}
.imagenescarru{
    width: 1280px;
    height: 647px;
}