*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F7F8F9;
    box-sizing: border-box;
}

.cuadrado{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    align-items: center;
    height: 600px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    background-color: #ffffff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: .4rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.itemsIzquierda{
    display: flex;
    height: 100%;
    justify-content: space-around;
    width: 100%;
}
.campos{
    width: 25rem
}

.inputs{
    margin-bottom: 3rem;
}

.form-label{
    margin: 0;
}

.itemsDerecha{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    align-items: center;
}

.imagen-botones{
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
}

.titulo{
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.titulo h1{
    font-size: 30px;    
    color: #9c3534;
}

#preview{
    width: 18rem;
    height: 14rem;    
}

#preview img{
    width: 100%;
    height: 100%;
    
}

.multimedia{
    height: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.botones{
    display: flex;
    justify-content: center;
    align-items:stretch;
}

.botones button{
    width: 20rem;
    text-align: center;
}

.btn-aceptar{
    background: #9c3534;
    color: #ffffff;
    transition: background .8s ease;
}

.btn-aceptar:hover{
    background: #ffffff;
    color: #9c3534;
    border: 1px solid #9c3534;
}

.btn-aceptar:focus{
    border: 1.5px solid #9c3534;
    box-shadow: none;
    background-color: #ffffff;
}


@media (max-width: 768px) {
    .itemsIzquierda{
        flex-direction: column;
        align-items:center;
    }
    .cuadrado{
        margin-top: 50px;
        height: 62rem;
    }
    #preview{
        display: none;
        margin-bottom: 1rem;
    }
    .multimedia{
        justify-content:flex-start;
    }
  }

  @media (max-width: 500px) {
      .botones{
          flex-direction:column;
          gap: 1rem;
      }
      .botones button{
          width: 100%;
      }
      .imagen-botones{
          padding: 0;
          height: 21rem;
      }
  }

  @media (max-width: 300px) {
      .cuadrado{
        height: 56rem;
      }
  }

  @media (max-width: 375px) {
      .campos{
          width: 100%;
      }
      .cuadrado{
        margin-top: 35px;
      }
      .formulario{
          width: 20rem;
      }
      .botones{
          flex-direction: column;
          justify-content: space-evenly;
          margin: 0;
          height: 20%;
      }
      .botones button{
          width: 100%;
      }
      .imagen-botones{
          height: auto;
      }
  }
  @media (max-width: 320px) {
    .formulario{
        width: 18rem;
    }
}
@media (max-width: 730px) {
    .formulario{
        width: 100%;
    }
}

  #wrapper{
      width: 100%;
  }

  .preload{
      padding-top: 20px;
      text-align: center;
      display: none;
  }

  .activate-preload{
      display: block;
  }

  #container-input{
      width: 640px;
      margin: 0 auto;
      border: solid 1px #ccc;
      position: relative;
      overflow: hidden;
  }
  .inputfocus:focus{
      border: 1.5px solid #9c3534;
      box-shadow: none;
      background-color: #ffffff;
  }



#container-input .wrap-file #preview-images .thumbnail{
    width: 120px;
    height: 120px;
    display: inline-block;
    vertical-align: middle;
}

