
.form-control:focus{
    border: 1px solid #9C3534;
    box-shadow: none;
    background-color: #ffffff;
}
.botonEnviar{
    align-items:center;
    background-color:#9C3534;
    color:#fff;
    padding:.7rem;
    width:50%;
}
.botonEnviar:hover{
    background-color:#fff;
    color:#9C3534;
    border:1px solid #9C3534;
}
.sangria ul{
    list-style-type: none;
    padding: 0;
}


.botonEnviar:focus{
    border: 1px solid #9C3534;
    box-shadow: none;
    background-color: #ffffff;
}
.titulo{
    color:#9C3534;
}
