{% extends "HeaderFooter/base-sidebar.html"%}
{% load static %}

{% block content%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/estiloListar.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Listar platillos Registrados</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class=" card shadow-lg p3 mb-5 mt-5 bg-white">
                    <h3 class=" text-center mt-5 mb-5" style="color: brown;">Lista Platillos</h3>
                    <div class="card-body">

                        <div class="table-responsive-md">
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Id. Platillo</th>
                                        <th scope="col">Nombre Platillo</th>
                                        <th scope="col">Ingredientes</th>
                                        <th scope="col">Disponibilidad</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Acción</th>
                                </thead>
                                <tbody >
                                    {% for p in entity %}
                                    <tr>
                                        <td id="idPlatillo" name="idPlatillo" style="margin-right: 100px;">{{p.data.0 }}
                                        </td>
                                        <td class="titulos">{{ p.data.1 }} </td>
                                        <td class="titulos">{{ p.data.2 }} </td>|
                                        <td>{{p.data.6 | title}}</td>
                                        <td>{{ p.data.3 }} </td>
                                        <td> <a href="modificarPlatillo/{{ p.data.0 }}"><i class="fas fa-user-edit"
                                                    style="color:#02B37F; cursor: pointer;"></i></a>
                                            <a href="#" onClick="comprobarEliminar('{{ p.data.0 }}')"><i
                                                    class="fas fa-trash-alt" style="color: brown; cursor: pointer;">
                                                </i> </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% include 'HeaderFooter/paginator.html'%}
                    </div>
                </div>
            </div>
            {{ mensaje }}
        </div>

    </div>

    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
    <script>
        function comprobarEliminar(id) {
            Swal.fire({
                "title": '¿Estás seguro?',
                "text": '¿Estás seguro que deseas eliminar este platillo?',
                "icon": 'question',
                "confirmButtonText": 'Aceptar',
                "showCancelButton": true,
                "confirmButtonText": 'Si, Borrar platillo',
                "cancelButtonText": 'No, cancelar!',
                "reverseButtons": true,
                "confirmButtonColor": "#9c3534"

            })
                .then(function (result) {
                    if (result.isConfirmed) {
                        window.location.href = "eliminarPlatillo/" + id
                    }
                })
        }
    </script>
</body>

</html>
{%endblock%}