h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 2%;
}

/*Menú lateral*/

:root{
    --width: 300px;
    --padding: 10px;    
    --bgcolor: #9C3534;
    --hovercolor: #B33B3D;
    --width-collapsed: 6rem;
}

body{
    background-color: #f7f8f9;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    margin-left: var(--width-collapsed);
}

.body-expanded{
    margin-left: var(--width);
}

#sidemenu{
    background-color: var(--bgcolor);
    color: white;
    height: 100vh;
    left: 0;
    top: 0;
}


.contenedor{
    display: flex;
}
#sidemenu a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#sidemenu #header{
    box-sizing: border-box;;
}

#sidemenu #header #title{
    box-sizing: border-box;
    overflow: hidden;
}

#sidemenu #header #title, #sidemenu #header #menu-btn{
    vertical-align: middle;
}

#sidemenu #header #menu-btn{
    display: inline-block;
}

#sidemenu #header #menu-btn{
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}


#sidemenu #header #menu-btn .btn-hamburger{
    background-color: white;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}


#sidemenu #menu-items .item a:hover{
    background-color: var(--hovercolor);
}

#sidemenu #menu-items .item .title{
    padding: var(--padding) 0;
}

.menu-expanded{
    width: var(--width);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.menu-expanded #header #title{
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -5px;
    padding: var(--padding);
}

.menu-expanded #header #title span{
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
    display: inline-block;

}

.menu-collapsed{
    width: var(--width-collapsed);
}

.menu-collapsed #header #title{
    width: 0;
    padding: 0;
    margin: 0;
    height: 0;
}

.menu-collapsed .item{
    width: 100px;
}

.menu-collapsed span{
    overflow: hidden;
    visibility: hidden;
}




/*Visibilidad*/
.off{
    display: none;
}

.on{
    visibility: visible;
}



.sinIcono{
    display: none;
    margin: 0;
}
.conIcono{
    display: block;
    margin: 0;
}

.menuprueba{
     display: flex;
 }
.hamburguesa img{
    width:100%;
}


.animated {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }





.menu-admin .menu {
    list-style: none;
    
}
  
.menu-admin .menu > li {
    padding: .5rem;
}
  
.menu-admin .menu > li:hover ul {
    display: block;
}
  
.menu-admin .menu > li a {
    color: #FFFFFF;
    text-decoration: none;
    padding: .5rem;
    transition: padding-left .3s ease;
    border-radius: .5rem;
}
  
.menu-admin .menu > li a:hover {
    background-color: #812928c2;
    padding-left: 2rem;
}
  
.menu-admin .menu > li ul {
    display: none;
    margin-top: 1rem;
    list-style: none;
    background-color: #812928c2;
    border-radius: .9rem;
    padding: 1rem;
}
  
.menu-admin .menu > li ul li {
    margin-bottom: 1rem;
}
  
.menu-admin .menu > li ul li:last-of-type {
    margin-bottom: 0;
}

.icono{
      width:2rem;
  }
  