.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #9C3534;
    border-color: #9C3534;
}
.page-link {
    color: #1f1f1f;
}
.page-link:hover{
    color: #1f1f1f;
}
.page-link:focus{
    border: 1px solid #9C3534;
    box-shadow: none;
    background-color: #ffffff;
}